<!DOCTYPE html>
<html>
<head>
    <title>Real Time Clock</title>
</head>
<body>
    <h1>
        Current time: <span id="clock"></span>   
    </h1>
    <h1>
        Select time zone: <span id="time_zone_selector"></span>
    </h1>
    <table>
        <thead>
            <tr>
                <th>0</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
<script>
    function setTime(){
        let timestamp = Date.now();
        let date = new Date(timestamp);
        let hours = String(date.getHours()).padStart(2, '0');
        let minutes = String(date.getMinutes()).padStart(2, '0');
        let formattedTime = hours + ':' + minutes;
        document.getElementById('clock').innerHTML = formattedTime;
    };
    setTime();
    document.addEventListener('DOMContentLoaded', setInterval(function() {
        setTime()
    },1000));
</script>
</html>
