<!DOCTYPE html>
<html>
<head>
    <title>Real Time Clock</title>
</head>
<body>
    <h1>
        Current time: <span id="clock"></span>   
    </h1>
    <h1>
        Select time zone: <span id="time_zone_selector"></span>
        <form action="">
            <select name="area" id="area">
                {% for row in rows %}
                <option value="{{row.5}}">{{row.1}}</option>
                
                {% endfor %}
            </select>
        </form>
    </h1>
    <h1>selected option: <span id="zone"></span></h1>
    
</body>
<script>
    zone = document.getElementById("zone")
    document.getElementById("area").addEventListener("change", (e)=>{
        zone.innerHTML = e.target.value
    })
    
    function setTime(){
        let timestamp = Date.now();
        let date = new Date(timestamp);
        let hours = String(date.getHours()).padStart(2, '0');
        let minutes = String(date.getMinutes()).padStart(2, '0');
        let formattedTime = hours + ':' + minutes;
        document.getElementById('clock').innerHTML = formattedTime;
    };
    setTime();
    document.addEventListener('DOMContentLoaded', setInterval(function() {
        setTime()
    },1000));
</script>
</html>
